$primary-font: 'Montserrat', sans-serif;;
$primary-color: #252B42;
$white: #FFFFFF;
$grey: #737373;
$bg: #23A6F0;
$bg-light: #8ec2f2;
$bg-lighter:#f8f9fa;
$bg-success: #2DC071;
$pink: #e51f5a;
$red: #e42f08;
$disabled: #bdbdbd;
