@import "mixins";
@import "variable";
@import "common";
body {
  font-size: 1rem;
  font-weight: 500;
  font-family: $primary-font;
  color: $white;
}
a {
  &:hover {
    text-decoration: none;
  }
}
p {
  margin: 0;
}
.navbar {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  @include mobile {
    position: relative;
    background-color: $primary-color;
  }
  &-brand {
    @include mobile {
      margin-right: 0;
    }
  }
  button {
    outline: none;
  }
  &-nav {
    @include mobile {
      padding: 70px 0;
    }
  }
  .nav-item {
    .nav-link {
      color: inherit;
      font-size: 0.875rem;
      font-weight: 600;
      padding-right: 0.875rem;
      @include mobile {
        margin: 7px 0;
      }
      &:hover {
        color: inherit;
      }
    }
  }
}
.bgColor {
  &.scrolled {
    background-color: #1d2234;
  }
}
.hero-banner {
  background-image: url("../images/cover-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  @include mobile {
    background-position: 60% 60%;
    background-size: inherit;
  }
  &::after {
    @include pesudo;
    background: linear-gradient(89.85deg, #000000 0.13%, #000000 0.14%, rgba(0, 0, 0, 0) 99.56%);
    @include mobile {
      background: linear-gradient(89.85deg, #000000 0.13%, #000000 0.14%, rgba(0, 0, 0, 0.75) 0%);
    }
  }
  .hero-content {
    padding-top: 216px;
    padding-bottom: 112px;
    position: relative;
    z-index: 1;
    @include mobile {
      text-align: center;
      padding-top: 75px;
      padding-bottom: 64px;
    }
    &__title {
      @include mobile {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3.563rem;
        padding: 0 25px;
      }
    }
    &__subtitle {
      padding: 35px 0;
      margin-bottom: 10px;
      max-width: 376px;
      @include mobile {
        padding: 0 55px;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.875rem;
        margin: 40px 0;
      }
    }
    &__btn {
      margin-right: 10px;
      @include mobile {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        .custom-btn-md {
          margin-bottom: 25px;
          margin-right: 0;
        }
      }
    }
  }
}

.widget-card {
  text-align: center;
  color: $white;
  padding: 40px 50px;
  @include mobile {
    margin-bottom: 10px;
  }
  &__image {
    margin-bottom: 30px;
    width: 72px;
    height: 59.29px;
    .widget-icon {
      &--md {
        display: block;
        width: 100%;
        @include mobile {
          display: none;
        }
      }
      &--sm {
        display: none;
        @include mobile {
          display: block;
          width: 100%;
        }
      }
    }
  }
  &__description {
    font-size: 0.875rem;
    max-width: 225px;
    margin: 0 auto;
  }
}

.testimonial {
  .owl-carousel {
    .owl-stage {
      display: flex;
      align-items: center;
      .owl-item {
        margin-right: 0;
        // padding-left: 50px;
        @include tablet {
          padding-left: 0;
          // margin-right: 50px;
        }
        @include mobile {
          padding: 0 43px 0 43px;
        }
      }
    }
  }
  &-card {
    max-width: 450px;
    background-color: $white;
    color: #000000;
    position: relative;
    margin: 0 auto;
    @include tablet {
      max-width: 80%;
    }
    @include mobile {
      padding: 0;
      margin: 0 auto;
    }
  }
  &-subtitle {
    color: $grey;
    padding-bottom: 1rem;
  }
  &-image {
    position: absolute;
    top: 28px;
    left: -45px;
    width: 72px;
    height: 72px;
    overflow: hidden;
    @include tablet {
      top: 20px;
      left: -35px;
      height: 50px;
      width: 50px;
    }
    img {
      object-fit: cover;
    }
  }
  &-body {
    padding: 30px 40px;
  }
  &-description {
    color: $grey;
  }
  &-star {
    .star {
      padding-right: 8px;
      color: #f3cd03;
    }
  }
}

.industry-carousel {
  .industry-card {
    max-width: 337px;
    width: 100%;
    padding: 0 10px;
    @include mobile {
      padding: 0 18px;
      margin: 0 auto;
    }
    &__image {
      position: relative;
      &::after {
        @include pesudo;
        background-size: cover;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
      }
    }
    &__body {
      position: absolute;
      bottom: 30px;
      padding: 10px 20px;
      @include tablet {
       padding: 0 10px;
      }
    }
    &__subtitle {
      max-width: 237px;
      width: 100%;
      padding: 15px 0;
      @include tablet {
        font-size: .875rem;
        line-height: 1rem;
        padding: 10px 0;
      }
    }
  }
}

// pricing start
.price-card {
  padding: 50px 40px;
  border-radius: 0.625rem;
  border: 1px solid #dedede;
  position: relative;
  @include tablet {
    padding: 30px 20px;
  }
  @include mobile {
    border: 1px solid $bg;
    margin: 0 28px;
    padding: 50px 30px;
  }
  .badge-new {
    position: absolute;
    right: 16px;
    top: -26px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #e77c40;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
    right: 5px;
    top: -50px;
    }
  }
  &__title {
    color: $primary-color;
  }
  &__subtitle {
    color: $grey;
    padding: 35px 0;
    max-width: 160px;
    margin: 0 auto;
  }
  &__currency {
    .currency {
      &__month {
        padding-bottom: 35px;
        margin-bottom: 0;
        color: $bg-light;
        @include mobile {
          padding-bottom: 0;
          padding-left: 10px;
        }
      }
    }
    @include mobile {
      display: inline-flex;
      align-items: center;
    }
    .symbol {
      &--md {
        display: contents;
        @include mobile {
          display: none;
        }
      }
      &--sm {
        display: none;
        @include mobile {
          display: flex;
        }
      }
    }
  }
  &__list {
    @include mobile {
      margin: 35px 0;
    }
  }
  &__item {
    color: $primary-color;
    position: relative;
    padding-left: 50px;
    padding-top: 10px;
    &:after{
      transform: rotate(45deg) translate(-50%, -50%);
      height: 16px;
      width: 10px;
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
      content: "";
      position: absolute;
      left: 17px;
      top: 22px;
    }

    &:before{
      border-radius: 50%;
      background-color: green;
      content: "";
       position: absolute;
       left: 8px;
       top: 8px;
       width: 32px;
       height: 32px;
    }
  }
  .try-btn {
    &--md {
      display: block;
      margin-bottom: 35px;
      @include mobile {
        display: none;
      }
    }
    &--sm {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
}

.appointment-section {
  background-image: url("../images/contact-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  @include mobile {
    background-position: 55% 55%;
  }
  &::after {
    @include pesudo;
    background: linear-gradient(89.83deg, #ffffff 14.24%, #ffffff 14.25%, rgba(255, 255, 255, 0) 99.55%);
  }
  & .appointment-form {
    position: relative;
    z-index: 1;
    @include mobile {
      padding: 0 45px;
    }
    form {
      margin: 40px 0;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .form-control {
      background-color: #f9f9f9;
      color: $grey;
      height: 50px;
      padding: 11px 21px;
      font-size: 0.875rem;
      &:focus {
        border-color: #ced4da;
        box-shadow: none;
      }
    }
    select {
      background-image: url(../images/down-arrow.svg);
      background-position: 90% 50%;
      background-repeat: no-repeat;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    textarea {
      margin-bottom: 40px;
      min-height: 100px;
    }
  }
}

.contactUs {
  background-color: #fafafa;
  padding: 40px 0;
  &__content {
    @include mobile {
      padding: 0 20px;
    }
  }
  &__title {
    margin: 0 0 10px;
  }
  &__description {
    color: $grey;
    @include mobile {
      margin-bottom: 50px;
    }
  }
  @include mobile {
    padding: 40px 55px;
  }
}
// foooter
.footer {
  &-content {
    padding: 55px 15px;
    @include mobile {
      padding: 55px 85px;
    }
  }
  &-menu {
    color: $white;
    @include mobile {
      padding: 55px;
    }
    &-heading {
      margin: 0 0 20px;
      @include mobile {
        font-weight: 800;
      }
    }
    &-list {
      padding-left: 0;
      margin: 0;
      list-style: none;
      @include mobile {
        margin-bottom: 30px;
      }
      .list-item {
        margin: 0 0 10px;
        .item-link {
          color: inherit;
          font-weight: 600;
          font-size: 0.875rem;
          line-height: 1.5rem;
          display: flex;
          align-items: center;
          .link-icon {
            @include icon-size;
            &--md {
              display: block;
              @include icon-size;
              @include mobile {
                display: none;
              }
            }
            &--sm {
              display: none;
              @include mobile {
                display: block;
                @include icon-size;
              }
            }
          }
          .fa {
            font-size: 1.5rem;
            &.fa-envelope {
              display: block;
              @include mobile {
                display: none;
              }
            }
            &.fa-location-arrow {
              display: none;
              @include mobile {
                display: block;
              }
            }
            @include mobile {
              color: $bg;
            }
          }
        }
      }
    }
  }
}

.copyright {
  background-color: $bg-lighter;
  padding: 25px 0;
  @include mobile {
    background-color: $primary-color;
    padding: 25px 65px 55px;
  }
  &-title {
    @include mobile {
      margin-bottom: 50px;
    }
  }
  &-content {
    display: flex;
    justify-content: space-between;
    color: $grey;
    @include mobile {
      color: $white;
      flex-direction: column;
    }
    .social-links {
      display: flex;
      .fab {
        font-size: 23px;
        color: $bg;
        margin-right: 20px;
      }
      .fa-facebook-square {
        display: none;
        @include mobile {
          display: block;
        }
      }
      .fa-facebook {
        display: block;
        @include mobile {
          display: none;
        }
      }
      .fa-instagram {
        @include mobile {
          color: $pink;
        }
      }
      .fa-youtube {
        display: none;
        @include mobile {
          display: block;
          color: $red;
        }
      }
    }
  }
}